/* Progress */

[id="checkout_progress"] {
	display: block;
	margin: 1em 0;
}
[id="checkout_progress"] ul, [id="checkout_progress"] li {
	margin: 0;
	padding: 0;
	list-style:none;
}
[id="checkout_progress"] li {
	display: inline-block;
}
[id="checkout_progress"] li a {
    padding:8px 10px 8px 32px;
    background-color: #fafafa;
    background-position: 10px 50%;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-bottom: 1px solid #aaa;
    color:#000;
    transition: 0.2s ease all;
    -web-transition: 0.2s ease all;
}
[id="checkout_progress"] li a:hover {
    background-color:#337ab7; color:#fff; text-decoration:none; border-color:#135ac7;
}
[id="checkout_progress"] li.checkout_delivery, [id="checkout_progress"] li.checkout_checkout {
	padding: 0 0 0 18px;
	display: inline-block;
	background: transparent url(../../images/icons/16/arrow_right_blue.gif) no-repeat 0 50%;
}

/* Checkout table  */

.checkoutpage .msl_table {
	width: 100%;
	background: #fff;
}
.checkoutpage .msl_table th {
	background: #135a97;
	border: none;
	font-size: 100%;
	color: #fff;
	font-weight: normal;
}
.checkoutpage .msl_table th.product {
	width: 65%;
}
.checkoutpage .msl_table th.product-image {
	min-width: 70px;
	max-width: 70px;
	width: 70px;
}
.checkoutpage .msl_table img {
	height: auto !important;
}
.checkoutpage .msl_table th.qty {
	text-align: center;
	width: 10%;
}
.checkoutpage .msl_table th.price {
	text-align: right;
	width: 10%;
}
.checkoutpage .msl_table td {
	background: #fff;
	border-left: none;
	border-right: none;
}
.checkoutpage .msl_table td:first-child {
    border-left: 1px solid #ccc;
    padding: 10px;
    height: auto !important;
}
.checkoutpage .msl_table td:last-child {
	border-right: 1px solid #ccc;
}
.checkoutpage .msl_table td.qty {
	text-align: center;
}
.checkoutpage .msl_table td.price {
	text-align: right;
}
.checkoutpage .msl_table tr:last-child td {
    border-bottom: 1px solid #ccc;
}
.checkoutpage input.qty {
	width: 4em;
}
.checkoutpage .msl_table tr.footer td {
	background-color: #fcfcfc;
	border: 0;
	text-align: right;
}
.checkoutpage .msl_table tr.basketrow td {
	border-top: 1px solid #ccc;
}
.checkoutpage .msl_table th, .checkoutpage .msl_table td {
	padding: 10px;
	vertical-align: top;
	height:  100%;
}
.checkoutpage td.product a {
	display: block;
	margin-bottom: 5px;
}
.checkoutpage .basket_options {
	margin: 4px 0 0 0;
}
.checkoutpage .msl_table tr.footer td {
	border-top: #ccc;
	background: #135a97;
	color: #fff
}
.checkoutpage .msl_table tr.footer td.total_text {
	text-align: right;
}
.checkoutpage .msl_table ul.basket_qp {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}
.checkoutpage .msl_table ul.basket_qp li {
	margin: 0.5em 0;
	position: relative;
}
.checkoutpage .msl_table ul.basket_qp li.option {
	font-style: italic;
	margin-left: 1em;
}
.checkoutpage .msl_table ul.basket_qp li.or {
	margin: 1em 0 1em 1em;
	font-weight: bold;
}
.checkoutpage .msl_table ul.basket_qp li input.button {
	float: right;
}
.checkoutpage h2, .checkoutpage h3 {
	margin: 10px 10px 15px
}
.vp_form > span {
	display:block;
	margin: 0 10px 0;
}
ul.product_customisation {
	margin: 20px;
	font-style: italic;
}
ul.product_customisation li {
	margin: 0;
}

/* Inputs */

.checkout_next input, input.button {
    padding: 8px 10px;
    font-size: 100%;
    /*background: #fafafa;*/
    border-radius: 2px;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    border-color:#ccc;
    border-bottom:1px solid #aaa;
    /*color:#000;*/
}
.checkout_next input:hover, input.button:hover {
    /*background: #eaeaea;*/
}
.vpFormSubmit input.button {
    /*background:#fff;*/
}
.vpFormSubmit input.button:hover {
    /*background:#eaeaea;*/
}
input.textbox, textarea.textbox {
	padding:5px 8px;
	border-radius: 3px;
	margin-bottom: 10px;
	border-color:#ccc;
}
input.textbox:hover {
    border-color:#aaa;
}
.vp_form .vpFormSubmit {
	background:#eee;
	margin-top:0;
}

/* Boxes */

div[id*="pnl"] {
	margin: 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #aaa;
}
div [id*="pnlPrePayment"] {
	padding:0;
	border:none;
}
div[id*="pnl"] h2 {
    margin-top:0;
    margin-bottom:5px;
}
div[id*="pnl"] .vpFormPair {
    padding: 15px;
    margin:0;
    border-bottom: 1px solid #ccc;
}

/* Payment toggle  */

div[id*="acPaymentMethod"] > div[class] {
	background:#337ab7;
	color:#fff;
	display:inline-block;
	padding:10px 12px;
	margin: 0 10px 10px 0;
	cursor:pointer;
	border-bottom: 1px solid #134aa7;
}

/* Address */

[id="us-state-hint"] {
	margin: 15px 10px 0;
	background-color:#ff9;
	border:1px solid #fc0;
	padding: 10px 10px 10px 32px;
	background-position: 10px 50%;
}

[id*="Address"] label {
	width:200px;
	margin: 0 0 10px
}

/* Terms and conditions  */

.tac {
	padding: 0;
	padding: 15px 20px;
	background: #fff;
}
.tac p {
    margin:0;
}
.tac p input {
    margin-right:10px;
}



.shipping_address {
	display: block;
	margin-top: 1em;
}
.shipping_address em {
	display: block;
	margin: 0.5em 0;
}
#collection_info dt {
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 1em 0 0.5em 0.5em;
}
#collection_info dd {
	display: block;
	margin: 0 0 0.25em 1em;
}

.checkout_next {
	text-align: right;
	margin: 1em 0 3em 0;
}
.delivery_options table {
	width: 100%;
	border-top: 1px solid #eee;
}
.delivery_options td {
	border-bottom: 1px solid #eee;
	padding: 2px;
}
.delivery_options td.selected {
	background: #eef;
}
.checkoutpage iframe.sagepay-iframe {
	width: 500px;
	height: 500px;
	border-style: none;
}
/* Saved card details */

.saved-card-details table {
	width: 100%;
}
.saved-card-details tr {
	border: 4px solid #fff;
}
.saved-card-details td {
	background: none repeat scroll 0 0 #EEEEEE;
	box-shadow: 0 0 3px #CCCCCC inset;
	padding: 15px;
	vertical-align: top;
}
.saved-card-details input[type="checkbox"], input[type="radio"] {
	margin: 0 7px 0 0;
}
.saved-card-details label {
	width: 90%;
	display: inline-block;
}

/* Payment options */

ul[id="method-options"] {
  margin: 10px -5px 0;
  padding:0;
  display: flex;
}
ul[id="method-options"] li {
  padding:0 5px;
  margin:0;
  list-style:none;
  flex-grow:1;
}
ul[id="method-options"] li a {
  display:block;
  padding: 15px;
  background: #eaeaea;
  border-bottom: 5px solid #fff;
  border: 1px solid #ccc;
  text-align:left;
  color:#333;
  cursor:pointer;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  font-weight: 600;
  font-size: 16px;
}

ul[id="method-options"] li a[id*="pp"] {
    background: url("https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png") 15px 50% no-repeat #fff;
    color:transparent;																				
    min-width: 130px;
}
ul[id="method-options"] li a[id*="card"] {
    background: url(../../images/icons/icon-cards-trans.png) right 10px top 50% no-repeat #fff;
    background-size: 150px
}
@media all and (max-width:1199px) {
	ul[id="method-options"] li a[id*="card"] { background-size:100px; }
}
@media all and (max-width:992px) {
	ul[id="method-options"] li a[id*="card"] { background-size:70px; }
}
@media all and (max-width:600px) {
	ul[id="method-options"] li a[id*="card"] { background-image:none; }
}

ul[id="method-options"] li a:hover, ul[id="method-options"] li a:focus {
  border-color: #337ab7;
  text-decoration:none;
}
ul[id="method-options"] li a[id*="card"]:hover, ul[id="method-options"] li a[id*="card"]:focus {
  color: #337ab7;
}
ul[id="method-options"] li a.active {
  background-color: #fff;
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: -1px;
  border-color: #336a97;
}
ul[id="method-options"] li a[id*="pp"].active {
  color: transparent;
}
[id="method-panels"] > [class*="method"] {
  display:none;
  padding: 15px;
  border: 1px solid #336a97;
  border-radius: 0 0 2px;
  margin: 0px 0;
}
[id="method-panels"] > [class*="method"].active {
  display:block;
  /* border-top: 5px solid #337ab7; */
}
[id="pay"] {
	margin:15px 0;
}
[id="pay"] input.button {
  background: #337ab7;
  color:#fff;
  font-weight: 600;
  border: 1px solid #236aa7;
  font-size: 12px;
  padding: 0 22px;
}

.paypal-checkout {
    background: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png) no-repeat;
    text-indent: -5000px;
    overflow: hidden;
    display: block;
    height: 27px;
    width: 142px;
    background-size: contain;
}
